<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/search_page.css">
    <title>Movie Database</title>
</head>

<body>

<!-- Login Box -->
<div class="login-box">
    <form onsubmit="authenticateUser(); return false;" class="login-row">
        <input type="text" id="user_login" name="user_login" placeholder="Username">
        <input type="password" id="user_password" name="user_password" placeholder="Password">
        <button type="submit">Login</button>
        <div class="login-status" id="login_status">
            <label for="login_status_label">Login Status:</label>
            <span id="login_status_message"></span>
        </div>
    </form>
</div>

<!-- Search Box -->
<div class="search-box">
    <div class="form-row">
        <label for="movie_name">Movie Name:</label>
        <input type="text" id="movie_name" name="movie_name">
    </div>
    <div class="form-row">
        <label for="actor_name">Actor Name:</label>
        <input type="text" id="actor_name" name="actor_name">
    </div>
    <div class="form-row">
        <label for="director_name">Director Name:</label>
        <input type="text" id="director_name" name="director_name">
    </div>
    <div class="form-row">
        <label for="genre">Genre:</label>
        <select id="genre" name="genre">
            <option value="">Select a genre</option>
            <!-- Genres will be appended here -->
        </select>
    </div>
    <div class="form-row year-row">
        <label for="year_min">Min Year:</label>
        <input type="number" id="year_min" name="year_min">
    </div>
    <div class="form-row year-row">
        <label for="year_max">Max Year:</label>
        <input type="number" id="year_max" name="year_max">
    </div>
    <button onclick="executeSearch()">Search</button>
</div>

<!-- Results Box -->
<div class="results-box">
    <button onclick="selectAll()">Select All</button>
    <button onclick="selectNone()">Deselect All</button>
    <button onclick="addToProcessedList()">Add to List</button>
    <div class="results-list-container">
        <ul id="results-list" class="results-list">
            <!-- Search results will be appended here -->
        </ul>
    </div>
</div>

<!-- Processed List Box -->
<div class="processed-list-box">
    <div class="processed-header">
        
        <!-- Group for the title and saved lists dropdown -->
        <div class="processed-header-group">
            <span class="processed-title">Processed Items</span>
            <div class="saved-lists-selector">
                <label for="saved-lists-dropdown">Saved Lists:</label>
                <select id="saved-lists-dropdown" name="saved-lists-dropdown">
                    <option value="">Select a saved list</option>
                    <!-- Additional options will be added here dynamically -->
                </select>
            </div>
        </div>

        <!-- Group for the buttons -->
        <div class="processed-header-buttons">
            <button id="removeFromListBtn" onclick="removeSelectedFromProcessedList()">Remove Selected Items</button>
            <button id="saveListBtn" onclick="saveUpdatedList()">Save List</button>
            <button id="loadListBtn" onclick="fetchAndDisplayListItems()">Load List</button>
            <button id="saveAsListBtn" onclick="saveListAs()">Save List As</button>
            <button id="clearListBtn" onclick="clearList()">Clear List</button>
            <button id="downloadCsvBtn" onclick="downloadProcessedDataAsJson()">Download JSON</button>
        </div>

    </div>
    <div class="processed-list-container">
        <ul id="processed-list" class="processed-list">
            <!-- Processed items will be appended here -->
        </ul>
    </div>
</div>

<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>

</body>
</html>
